<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerLinks}}
</head>
<body>
    {{>navbar}}
    
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 mx-auto main_header_left err">
                       <figure class="errImg">
                        <img src="./image/404.png" alt="errimg">
                       </figure>
                        <p>Welcome to weather app World</p>
                        <h1>{{errMsg}}</h1>
                        <a href="/"><button>Go back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>
</html>